* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

img::selection {
  color: inherit;
}

input::-webkit-slider-thumb {
  appearance: none;
  border: none;
}

input::-moz-range-thumb {
  appearance: none;
  background: transparent;
  border: none;
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"] {
  appearance: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
}
