// SIZES
$s-xxs: .25rem;
$s-xs: .5rem;
$s-s: 0.75rem;
$s-m: 1.25rem;
$s-l: 2rem;
$s-xl: 3.25rem;
$s-xxl: 5.25rem;
$s-xxxl: 8.5rem;

// BREAKPOINTS
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
$largescreen: 1680px;

// ELEMENTS SPACING
$base-spacing: $s-l;
$section-spacing: $s-xl;
$tuning-area-size: 600px;
$s-nav-height: $s-xxxl;